@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/*Navbar */
body,
h1,
h2,
h3,
p,
ul,
li {
  
    padding: 0;
    font-size: 1.2rem;
    font-family: system-ui;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.logo img {
    max-width: 120px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}
li {
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*ending of navbar*/

/*content*/

.cover {
    width: 100vw;
    height: 100vh;
}
.container {
    padding-left: 0px;
    width: 100vw;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}
.column {
    flex: 50%;
    padding: 0;
    margin-right: 20px;
    width: 100%;
}
.column img {
    margin-right: 20px;
    margin-left: 2px;
}

.pics {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 0;
    padding-bottom: 20px;
    margin-top: 2%;
    padding-right: 10px;
}
/* }
 .middle {
    top:50%;
 } */

@media (max-width: 300px) {
    .middle {
        margin-top:10%;
        padding-top:30px;
    }
}
.img1 {
    margin-bottom: 10px;
    width: 100%;
    margin-left: 10px;
}
/*lady*/
.img2 {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10px;

    margin-top: 0;
}
.img3 {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 20px;
    margin-left: 0;
}
/*last*/
.img4 {
    margin-bottom: 10px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
}
.middle {
    margin-left: 560px;
    margin-top: 50px;
    overflow: visible;
    position: absolute;
    top: 908px;
    right: 35%;
    height:400px;
}
@media only screen and (max-width: 300px) {
    /* .middle {
        margin-left:560px;
        margin-top:50px;
        overflow: visible;
        right:36%;
    } */
    .shop {
        width: 100px;
        margin-top: auto;
    }
}
@media (max-width: 800px) {
    
    .picquote {
width:80%;
margin:0;
margin-top:70%;
padding-left:20px
    }
    .aloe {
        width:300px;
        margin-top:50px;
        padding-left:20px;
        margin-right:0;
        padding:5px;
    }
    .quotes{
text-align:center;
margin-left:10px;
padding:5px;
margin-right:0;
    }
    .cover {
        width:340px;
        height:200px;
    }
    body {
        width:100%;
        margin:0;
        display:grid;
        grid-template-columns: repeat(2.1fr);
        
    }
    .img1, .img2, .img3, .img4 {
       margin-right:20px;
    }
    .pics{
        display:grid;
        grid-template-columns: none;
    }
    .img3{
        margin-top:40%;
        margin-left:0;

        padding-left:0;
    } 
    .img4 {
        padding:0;
    }
    .shop {
        margin-top: 10px;
      
        margin-bottom:0;
       
    }
    .column {
         background-color: lightgoldenrodyellow;
    }
    p {
        text-align: center;
    }
}

.quotes {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    float:right;
}
.quotes {
    position: absolute;
    overflow: visible;
    float: right;
    color: black;
    margin-left:30px;
    margin-top:20px;
    background-image: url(/assets/Rectangle\ 1.png);
}


  .card {
   width:20px;
   margin-top:9%;
   

  }
  .picquote{
    float:right;
    border-radius:5px;
    margin-right:60px;
  }
   .shop {
    /* margin:0;
    justify-content: center;
    display:grid;
    place-items: center;
    margin-left:20px; */

    height:60vh;
    
    /*  width:300px;
   
    margin-top:0 auto;
    display: block; */
  } 
  
  .plant {
    width:400px;
    height:fit-content;

  }
 
  .image-box {
    display: flex;
    justify-content: space-between;
  }
  
  .image-box img {
    width: 400px;
  }
  .container3 {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .btn {
    background-color:rgb(114, 212, 114);
    color:white;
    height:50px;
    width:10%;
    margin-bottom:4%;
    margin-top:10px;
  }
  .products {
    text-align: center;
    margin-top:400px;
    margin-bottom: 10px;
    font-size:larger;
  }
  